nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  background-color: rgba(200, 200, 200, 0.5);
  height: 40px;
  width: 100vw;
}
h1 {
  font-family: "Parisienne", cursive;
}

textarea {
  margin-top: 7px;
}
/**
The body section
**/
.imageRestaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/the-quats-temple-bar.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}
.imageRestaurantText {
  background-color: rgba(200, 200, 200, 0.7);
  border: solid black;
  border-radius: 20px;
  text-align: center;
  position: fixed;
  width: 30vw;
  height: 30vh;
}

.imageRestaurantText h1 {
  font-size: 40px;
  font-family: "Parisienne", cursive;
}
.imageRestaurantText p {
  font-size: 30px;
  font-family: "Parisienne", cursive;
}

.imageFood {
  background-image: url("images/food.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(200, 200, 200);
}

/**
Medie Queries
I-phone 5 stående
**/
@media screen and (max-width: 480px) {
  nav {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }

  nav a {
    color: rgb(250, 250, 250);
  }

  /* .imageRestaurant {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
  } */
  .imageRestaurantText {
    width: 50vh;
  }
  .RestaurantTextMobile {
    display: block !important;
  }
  .deliver {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-left {
    margin-left: 80px;
  }
  .footer-center {
    margin-left: 80px;
  }
  .footer-right {
    margin-left: 80px;
  }
}
/**
Medie Queries
I-phone 5 liggende
**/
@media screen and (max-width: 568px) {
  nav {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
  }
  nav a {
    color: rgb(250, 250, 250);
  }

  .navbar-right {
    display: none;
  }
  .imageRestaurantText {
    background-color: rgba(200, 200, 200, 0.4);
    width: 100vh;
    height: 60vh;
  }

  .RestaurantTextMobile {
    display: none;
  }
  .deliver {
    display: none;
  }
  footer {
    position: absolute;
    z-index: 1;
    width: 100vw;
  }
}
@media screen and (max-width: 568px) {
  .imageRestaurantText h1 p {
    font-size: 8px;
  }
  .deliver {
    display: none;
  }
}

/**
Medie Queries
I-phone 6
**/
@media screen and (max-width: 480px) {
  .imageRestaurantText {
    width: 55vh;
    height: 50vh;
  }
  .deliver {
    display: none;
  }
}
